
<!-- <mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Enter Post Title</mat-label>
    <input matInput type="text" [(ngModel)]="titlevalue">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter Post Content</mat-label>
    <textarea matInput rows="5" [(ngModel)]="contentvalue"></textarea>
  </mat-form-field>
  <button color="accent" mat-raised-button (click)="onAddPost()">Save Post</button>
</mat-card> -->

<!-- two-way binding -->


<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onAddPost()" *ngIf="!isloading">
    <mat-form-field appearance="fill">
      <mat-label>Enter Post Title</mat-label>
      <input formControlName="title" matInput type="text" placeholder="title" name="title"   >
      <mat-error *ngIf="form.get('title').invalid">Please Enter the title</mat-error>
    </mat-form-field>
    <div class="imgPreview" *ngIf="imageURL !== '' && imageURL">
      <img [src]="imageURL" [alt]="form.value.title" >
    </div>
    <div>
      <button mat-button mat-stroked-button (click)="filePicker.click()" type="button">Upload Image</button>
      <input style="visibility: hidden;" type="file" #filePicker (change)="onImageSelect($event)">
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Enter Post Content</mat-label>
      <textarea formControlName="content" matInput rows="5" name="content"  placeholder="content" ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please Enter the Content</mat-error>

    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>

<br>

